<div class="row">
    <div class="jtron">
        <div class="jcontent">
            <div class="jmargins">
                <h1 style="text-align:center;"><strong>Welcome to the CS Collaboration Platform!</strong></h1>
                <p style="margin-top:20px;">Add a post or enter a workspace</p>
                
            </div>

            <a class="btn btn-outline-black btn-rounded" (click)="changeShowAddPost()">Add Post</a>
            <div *ngIf="this.showAddPost" > 
                    
                    
                  
                    
                 
                    <div>Title</div>
                    <input type="text" name="myTitle"  
                      required>    
                    <div>Content</div>
                    <input type="text" name="myContent" 
                      required>
                    <a *ngIf="!this.showSubmitFinalize" class="btn btn-outline-black btn-rounded" (click)="getPostId();changeShowSubmitFinalize();">Submit Post?</a>
                    <button *ngIf="this.showSubmitFinalize" class="btn btn-outline-black btn-rounded" (click)="addPost(this.myTitle.model, this.myContent.model);changeShowAddPost();changeShowSubmitFinalize();myTitle.value='';myContent.value='';">Click Again to Submit</button> 
                   </div>
                 
        </div>
    </div>
    <div class="userbar">
        <div class="umargins">
            <div class="online">
            <h3><b>Recent Activity</b></h3>
            <p><a><b>csns101</b><br><i>csns101@gmail.com</i></a></p>
            <p><a><b>Frankly18</b><br><i>franklinpracticum2018@gmail.com</i></a></p>
            
            </div>
            <div class="offline">
            <h3><b>Offline</b></h3>
            <p><b>Placeholder User #4</b><br><i>email: userfour@teamdelta.com</i></p>
            <p><b>Placeholder User #5</b><br><i>email: userfive@teamdelta.com</i></p>
            <p><b>Placeholder User #6</b><br><i>email: usersix@teamdelta.com</i></p>
            <p><b>Placeholder User #7</b><br><i>email: userseven@teamdelta.com</i></p>
            <p><b>Placeholder User #8</b><br><i>email: usereight@teamdelta.com</i></p>
            <p><b>Placeholder User #9</b><br><i>email: usernine@teamdelta.com</i></p>
            </div>
        </div>
    </div>
</div>