<div class="row">
    <div class="jtron">
        <div class="jcontent">
            <div class="jmargins">
                <h1 style="text-align:center;"><strong>Welcome to the CS Collaboration Platform!</strong></h1>
                <p style="margin-top:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                laboriosam, voluptatem, optio vero odio nam sit officia accusamus
                minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
                dolorum!.</p>
                <a class="btn btn-outline-black btn-rounded">View project</a>
            </div>
        </div>
    </div>
    <div class="userbar">
        <div class="umargins">
            <div class="online">
            <h3><b>Online</b></h3>
            <p><a><b>Placeholder User #1</b><br><i>email: userone@teamdelta.com</i></a></p>
            <p><a><b>Placeholder User #2</b><br><i>email: usertwo@teamdelta.com</i></a></p>
            <p><a><b>Placeholder User #3</b><br><i>email: userthree@teamdelta.com</i></a></p>
            </div>
            <div class="offline">
            <h3><b>Offline</b></h3>
            <p><b>Placeholder User #4</b><br><i>email: userfour@teamdelta.com</i></p>
            <p><b>Placeholder User #5</b><br><i>email: userfive@teamdelta.com</i></p>
            <p><b>Placeholder User #6</b><br><i>email: usersix@teamdelta.com</i></p>
            <p><b>Placeholder User #7</b><br><i>email: userseven@teamdelta.com</i></p>
            <p><b>Placeholder User #8</b><br><i>email: usereight@teamdelta.com</i></p>
            <p><b>Placeholder User #9</b><br><i>email: usernine@teamdelta.com</i></p>
            </div>
        </div>
    </div>
</div>