body {
    color: blue;
}

h3 {
    text-align: center;
}

p {
    margin-left: 10px;
}
.online {
    color: green;
    background-color: rgb(24, 66, 73)

}
.offline {
    color: red;
    background-color: bisque

}